$background: #fdf7df;

$color: #513b38;
$lead-color: #3e2622;
$muted-color: #7d6f6d;

$anchor: #a52a2a;
$anchor-hover: #4a040a;
$anchor-visited: #b87333;

$block-background: #fdf3d4;
$block-border: #584f3f;